// Colors
$ice-blue: #56cbf9;
$ice-white: #efe9f4;
$white: #fff;
$charcoal: #171d1c;
$teal: #16bac5;
$violet: #5863f8;

// Secondary Colors

$dark-white: #e4e4e4;

$grey: #444444;
$light-grey: #797676;
